body {
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    background-color: #2b2b2b;
    width: 20%;
    position: fixed;
    height: 100vh;
    padding: 20px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.sidebar.active {
    left: -20%;
}

nav {
    margin-top: 100px;
}

.logo {
    width: 200px;
    display: block;
    margin: 0 auto 30px;
    border-radius: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 35px auto;
    font-size: 28px;
    width: 70%;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;
    transition: color .3s ease;
}

.sidebar a:hover {
    color: #8fc4ff;
}

.sidebar a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #8fc4ff;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .4s ease;
}

.sidebar a:hover::after {
    transform: scaleX(1);
}

.sidebar .sair {
    color: rgb(212, 96, 96);
    margin-top: 75px;
}

.sidebar .logout {
    color: rgb(212, 96, 96);
}

.sidebar .sair:hover {
    color: rgb(212, 96, 96);
}

.sidebar .logout:hover {
    color: rgb(212, 96, 96);
}

.sidebar .sair::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: #c75e5e;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease;
}

.sidebar .logout::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: #c75e5e;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease;
}

header {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    position: fixed;
    top: 0;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: #ffffff;
    margin-left: 18%;
    transition: 0.3s;
}

.menu-btn.active {
    margin-left: 30px;
    color: #2b2b2b;
}

main {
    margin-left: 20%;
    padding: 80px 10px;
    background-color: #cfe8ff;
    width: 80%;
    min-height: 84vh;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.sidebar.active~main {
    margin-left: 0;
    width: 100%;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    margin-bottom: 12px;
}

p {
    margin-top: 0;
    font-size: 23px;
}

.buttons {
    margin-top: 80px;
    display: flex;
    gap: 100px;
}

.btn {
    background: linear-gradient(135deg, #4f8ac8, #3a6fa3);
    padding: 45px 80px;
    color: white;
    text-decoration: none;
    font-size: 32px;
    border-radius: 15px;
    box-shadow: -8px 8px 0px rgba(43, 68, 88, 0.6);
    transition: 0.25s ease;
    font-weight: 600;
}

.btn:hover {
    transform: translate(-8px, 8px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* ======== RESPONSIVIDADE ======== */

@media (max-width: 1100px) {
    .sidebar {
        width: 30%;
    }

    main {
        margin-left: 30%;
        width: 70%;
    }

    .menu-btn {
        margin-left: 25%;
        color: #fff;
    }

    .sidebar.active {
        left: -30%;
    }

    .sidebar.active~main {
        margin-left: 0;
        width: 100%;
    }

    .buttons {
        gap: 60px;
    }

    .btn {
        padding: 30px 50px;
    }
}

@media (max-width: 898px) {
    .sidebar {
        left: -100%;
        width: 70%;
        transition: 0.3s;
    }

    .sidebar.active {
        left: 0;
    }

    .menu-btn {
        margin-left: 10px;
        font-size: 40px;
        color: #2b2b2b;
    }

    .menu-btn.active {
        margin-left: 60%;
        color: #fff;
    }

    main {
        margin-left: 0;
        width: 100%;
        padding: 100px 20px;
    }

    .menu-btn {
        position: fixed;
        top: 20px;
        left: 20px;
        margin-left: 0;
        font-size: 40px;
        color: #2b2b2b;
        z-index: 1100;
    }

    .buttons {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }

    .btn {
        width: 55%;
        padding: 50px 0;
        font-size: 35px;
        text-align: center;
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    p {
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .btn {
        width: 90%;
        padding: 30px 0;
        font-size: 24px;
    }

    .sidebar a {
        font-size: 24px;
        margin: 25px auto;
    }

    .logo {
        width: 150px;
    }

    .menu-btn {
        font-size: 50px;
    }
}







